<section class="vh-100">
    <div class="container py-3 h-100">
        <div class="row d-flex justify-content-center h-100">
            <!-- <div class="col-12 col-md-8 col-lg-8 col-xl-7">
                <div class="card shadow-2-strong"
                    style="border-radius: 30rem black; box-shadow: 0 3rem 6rem 0 rgba(0,0,0,0.3); background-color: white;"> -->
                    <div class="card-body px-3 text-left">
                        <div class="parent">
                            <div class="child">
                                <div class="container bcontent">
                                    <div class="card" style="width: 100%; padding: 5px;">
                                        <div class="row no-gutters">
                                            <div class="col-12 col-md-12 col-lg-6 col-xl-6"
                                                style="display: flex; justify-content: center; margin: 0 auto;">
                                                <img class="card-img" src=".\assets\Welcome.png" alt="User info card"
                                                    height="100%">
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="card-body">
                                                    <h3 class="card-title" style="color: #0275d8;">Welcome to the Tweet App</h3>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- </div>
    </div> -->
</section>