<section class="vh-100">
    <div class="container py-3 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-8 col-xl-7">
                <div class="card shadow-2-strong"
                    style="border-radius: 30rem black; box-shadow: 0 3rem 6rem 0 rgba(0,0,0,0.3); background-color: white;">
                    <div class="card-body px-5">
                        <div class="mb-5 text-center">
                            <h4 style="color: rgba(0,110,255); padding-top: 30px;"><img
                                    src=".\assets\ForgotPassword.png" class="px-2" height="40rem" width="60rem">Forgot
                                Password</h4>
                            <h6 style="color: rgba(0,110,255);">verify your account to reset the password.</h6>
                        </div>

                        <div *ngIf="errorbox" class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong class="fade show" style="background-color: rgba(253, 215, 222, 0.568);"> Error!:
                            </strong> {{error}}
                            <button (click)="closeAlert()" type="button" class="btn-close" data-bs-dismiss="alert"
                                aria-label="Close"></button>
                        </div>

                        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit(forgotPasswordForm)">
                            <div class="col-md-12 mb-4">

                                <div class="form-outline form-group">
                                    <label class="form-label" for="emailAddress">Email:</label>
                                    <input type="email" id="emailAddress" name="emailAddress" formControlName="email"
                                        class="form-control form-control-lg" />
                                </div>

                            </div>

                            <div class="col-md-12 mb-4 d-flex align-items-center">

                                <div class="form-outline form-group datepicker w-100">
                                    <label for="dateOfBirth" class="form-label">Birthday:</label>
                                    <input type="date" class="form-control form-control-lg" id="dateOfBirth"
                                        name="dateOfBirth" formControlName="dateOfBirth" />
                                </div>

                            </div>

                            <div class="mt-4 pt-2 form-group">
                                <input class="btn btn-primary btn-lg btn-block" type="submit" value="Verify Account"
                                    [disabled]="!forgotPasswordForm.valid" />
                            </div>
                        </form>
                        <hr class="my-2">
                    </div>



                </div>
            </div>
        </div>
    </div>
</section>